body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  background-color: #D0D0D0;
  color: hsl(0, 0%, 17%);
  font-size:18px;
}

@media screen and (min-width: 768px) {
  .bordercss {
    border-right-style: solid;
    border-right-width: 3px;
    border-right-color: whitesmoke;
  }
}
@media screen and (max-width: 768px) {
  .bordercss {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: whitesmoke;
  }
}